.container {
    background-color: #333;
    height: 420px;
    width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.button {
    height: 80px;
    width: 50px;
    background-color: #383;
    padding: 50px;
    margin: 10px;
}

.first {
    background-color: #833;   
    border-top-left-radius: 50%;
}


.second {
    background-color: #383;
    border-top-right-radius: 50%;
}

.third {
    background-color: #338;
    border-bottom-left-radius: 50%;
}

.fourth {
    background-color: #989;
    border-bottom-right-radius: 50%;
}

.active {
    background-color: #fff;
}
