.container {
    background-color: #333;
    height: 420px;
    width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

.button {
    height: 80px;
    width: 50px;
    padding: 50px;
    margin: 10px;
}

.first {
    background-color: red;   
    border-top-left-radius: 50%;
}

.second {
    background-color: green;
    border-top-right-radius: 50%;
}

.third {
    background-color: lightblue;
    border-bottom-left-radius: 50%;
}

.fourth {
    background-color: yellow;
    border-bottom-right-radius: 50%;
}

.active {
    background-color: #fff;
}

.gameOver {
    color: red;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    margin-top: 50%;
    background-color: white;
    padding: 20px;
    display: none;
}

.prepare {
    color: green;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    margin-top: 50%;
    background-color: white;
    padding: 20px;
    display: none;
}