.container {

}

.button {
    padding-left: 140px;
    padding-right: 140px;
    height: 30px;
    background-color: rgb(72, 171, 79);
    font-family: Oswald;
    letter-spacing: 2px;
    
    font-weight: bolder;
    font-size: 1em;
    text-transform: uppercase;
    color: #fff;
    border-radius: 20px;
    outline: 0;
    margin-top: 20px;
    margin-left: 18px;
}

.button:hover {
    background-color: rgb(70, 193, 30);
}

@font-face {
      font-family: Oswald;
      src: url('./Oswald-VariableFont_wght.ttf');  
}